<div class='row my-3'>
  <% @events.each do |event| %>
    <div class="col-sm-4 my-3">
      <div class="card bg-dark text-white">
        <img src="https://img.20mn.fr/sIChN5W-TCG0VWSpGYJYLw/768x492_tous-trolls.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class='card-title'><%= event.title %></h5>
          <p class='card-text'><%= event.start_date %></p>
          <p class='card-text'><%= event.description %></p>
          <p class='card-text text-muted'><%= event.price %> $</p>
          <%= link_to 'Voir', event_path(event.id), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
